In [14]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

In [15]:
# Configure Chrome options
chrome_options = Options()
chrome_options.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36")

# Initialize WebDriver
driver = webdriver.Chrome(options=chrome_options)
driver.maximize_window()

# Make the request
driver.get("https://www.ambitionbox.com/list-of-companies?page=1")

# Get page HTML
webpage = driver.page_source

In [18]:
soup = BeautifulSoup(webpage, 'lxml')

In [26]:
company = soup.find_all('div', class_="companyCardWrapper__primaryInformation")

In [47]:
name = []
rating = []
review = []
companyType_and_location = []


for i in company:
    
    name.append(i.find('h2').text.strip())
    rating.append(i.find('div', class_='rating_text').text.strip())
    review.append(i.find('span', class_='companyCardWrapper__companyRatingCount').text.strip())
    companyType_and_location.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())
    
    
    
d = {'name':name, 'rating':rating, 'review':review, 'type&loc':companyType_and_location}

df = pd.DataFrame(d)

df

,name,rating,review,type&loc
0,TCS,3.7,(94.5k),IT Services & Consulting | Bangalore / Bengalu...
1,Accenture,3.8,(60.6k),IT Services & Consulting | Bangalore / Bengalu...
2,Wipro,3.7,(55.6k),IT Services & Consulting | Bangalore / Bengalu...
3,Cognizant,3.7,(52.8k),IT Services & Consulting | Chennai +199 other ...
4,Capgemini,3.7,(44.4k),IT Services & Consulting | Bangalore / Bengalu...
5,HDFC Bank,3.9,(41.8k),Banking | Mumbai +1667 other locations
6,Infosys,3.6,(41.5k),IT Services & Consulting | Bangalore / Bengalu...
7,ICICI Bank,4.0,(40.6k),Banking | Mumbai +1357 other locations
8,HCLTech,3.5,(38.2k),IT Services & Consulting | Chennai +209 other ...
9,Tech Mahindra,3.5,(36.9k),IT Services & Consulting | Hyderabad / Secunde...
10,Genpact,3.8,(34.2k),IT Services & Consulting | Hyderabad / Secunde...
11,Teleperformance,3.9,(31.2k),BPO | Mumbai +226 other locations
12,Concentrix Corporation,3.8,(27.6k),BPO | Bangalore / Bengaluru +150 other locations
13,Axis Bank,3.8,(26.8k),Banking | Mumbai +1391 other locations
14,Amazon,4.1,(26.4k),Internet | Bangalore / Bengaluru +468 other lo...
15,Jio,4.0,(24.5k),Telecom | Mumbai +1320 other locations
16,iEnergizer,4.7,(23.6k),BPO | Noida +44 other locations
17,Reliance Retail,3.9,(23.4k),Retail | Mumbai +1065 other locations
18,IBM,4.0,(23.3k),IT Services & Consulting | Bangalore / Bengalu...
19,LTIMindtree,3.8,(22k),IT Services & Consulting | Bangalore / Bengalu...

In [49]:
final = pd.DataFrame()

for j in range(1,11):
    
    url = "https://www.ambitionbox.com/list-of-companies?page={}".format(j)
    
    chrome_options = Options()
    chrome_options.add_argument("user-agent=Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36")

    # Initialize WebDriver
    driver = webdriver.Chrome(options=chrome_options)
    driver.maximize_window()

    # Make the request
    driver.get(url)

    # Get page HTML
    webpage = driver.page_source
    
    
    soup = BeautifulSoup(webpage, 'lxml')
    
    company = soup.find_all('div', class_="companyCardWrapper__primaryInformation")
    
    
    name = []
    rating = []
    review = []
    companyType_and_location = []


    for i in company:
        
        name.append(i.find('h2').text.strip())
        rating.append(i.find('div', class_='rating_text').text.strip())
        review.append(i.find('span', class_='companyCardWrapper__companyRatingCount').text.strip())
        companyType_and_location.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())
        
        
        
    d = {'name':name, 'rating':rating, 'review':review, 'type&loc':companyType_and_location}

    df = pd.DataFrame(d)
    
    final = pd.concat([final, df], ignore_index=True)

In [50]:
final

,name,rating,review,type&loc
0,TCS,3.7,(94.5k),IT Services & Consulting | Bangalore / Bengalu...
1,Accenture,3.8,(60.6k),IT Services & Consulting | Bangalore / Bengalu...
2,Wipro,3.7,(55.6k),IT Services & Consulting | Bangalore / Bengalu...
3,Cognizant,3.7,(52.8k),IT Services & Consulting | Chennai +199 other ...
4,Capgemini,3.7,(44.4k),IT Services & Consulting | Bangalore / Bengalu...
...,...,...,...,...
195,Bank of America,4.2,(3.3k),Banking | Gurgaon / Gurugram +31 other locations
196,Abbott,4.1,(3.2k),Pharma | Mumbai +189 other locations
197,Sodexo,4.1,(3.2k),Facility Management Services | Mumbai +145 oth...
198,Jindal Steel and Power,3.9,(3.3k),Iron & Steel | Angul +146 other locations
199,Hindalco Industries,4.2,(3.3k),Metals & Mining | Sambalpur +109 other locations